In [1]:
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
import pandas as pd

In [3]:
from sentiment_analysis_spanish import sentiment_analysis

In [4]:
sa = sentiment_analysis.SentimentAnalysisSpanish()

/home/uriel/.local/share/virtualenvs/Final_proyect-w65KJXDl/lib/python3.8/site-packages/sklearn/base.py:310: UserWarning: Trying to unpickle estimator CountVectorizer from version 0.23.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/uriel/.local/share/virtualenvs/Final_proyect-w65KJXDl/lib/python3.8/site-packages/sklearn/base.py:310: UserWarning: Trying to unpickle estimator MultinomialNB from version 0.23.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [33]:
url_base = 'postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres'
engine = create_engine(url_base)

In [6]:
tweets = pd.read_sql( 'SELECT * FROM tweet',engine).set_index('id')
tweets.head()

,tweet,user_id,date,key_word,like,retweet
id,,,,,,
745767823159365632,@alosianv @NetflixLAT jejejeje y sera mala,4208183172,2016-06-22,Netflix,0,0
745767581210972160,Se viene la nueva temporada de #orangeisthenew...,607991137,2016-06-22,Netflix,35,4
745766576025022464,Papás de menor arrastrado por caimán en Disney...,63848991,2016-06-22,Disney,0,0
745763999350816768,@Augustososa @huerta_cesar @Wero_Lui @Chivas m...,117858195,2016-06-22,Netflix,0,0
745763219541680128,@ZaybetHipston Además hablan bien rápido jajaj...,38045797,2016-06-22,Netflix,0,0

In [7]:
mood = pd.read_sql( 'SELECT * FROM sentiment',engine).set_index('id')
mood.head()

                        mood
id
745767823159365632  0.016306
745767581210972160  0.007758
745766576025022464  0.321796
745763999350816768  0.344001
745763219541680128  0.373533

In [8]:
moodTweet = tweets.join(mood)[['tweet','mood']]
moodTweet.head()

,tweet,mood
id,,
745767823159365632,@alosianv @NetflixLAT jejejeje y sera mala,0.016306
745767581210972160,Se viene la nueva temporada de #orangeisthenew...,0.007758
745766576025022464,Papás de menor arrastrado por caimán en Disney...,0.321796
745763999350816768,@Augustososa @huerta_cesar @Wero_Lui @Chivas m...,0.344001
745763219541680128,@ZaybetHipston Además hablan bien rápido jajaj...,0.373533

In [9]:
bag ={}
for i, row in moodTweet.iterrows():
    for j in row.tweet.split(' '):
        if j in bag:
            bag[j]['count'] += 1
        else:
            bag[j] = {}
            bag[j]['count'] = 1
            mood = sa.sentiment(j)
            if mood < 0.3 :
                bag[j]['mood'] = '-'
            elif mood < 0.7 :
                bag[j]['mood'] = 'n'
            else:
                bag[j]['mood'] = '+'

In [10]:
topArr = []
for key, value in bag.items():
    topArr.append([key,value['count'],value['mood']])

In [11]:
df = pd.DataFrame(topArr,columns=['word','count','mood'])
df.head()

          word  count mood
0    @alosianv      1    n
1  @NetflixLAT   2012    n
2     jejejeje      3    n
3            y   4574    n
4         sera      9    n

In [21]:
positive = df[df.mood == '+'].sort_values(by= 'count',ascending=False)
for i in positive.word:
    print(i)
positive.head()

muy
próximo
gran
buen
súper
perfecta
Muy
vía
recomendaciones
super
excelente
opción
Excelente
perfecto
duda
justo
grande
bonita
grandes
encanta
selección
corazón
San
joya
hermoso
relación
Justo
clase
genial
hermosa
encantó
encuentra
Gran
real
Selección
increíble
noches
Buen
ciudad
rico
próxima
(vía
estilo
fácil
acceso
corto
detalles
cerca
recomendable
Ciudad
bienvenida
completo
Súper
maravilloso
personal
sonrisa
divertido
diseño
duda,
toque
necesario
favorito
tiendas.
España
Junior
verano
corta
ayudar
increíbles
real.
Recomendaciones
perfecto,
Super
vista
parque
Parque
quieras
descanso
Laura
MUY
hermoso.
detalle
lujo
excelentes
bonita.
ideal
joya,
encanto
via
hermosa.
cercano
lugares
bonitas
necesitas
comercial
tren
pleno
recomendable!
Clase
noches,
maravillosa
barrio
Increíble
Real
perfecta,
duda.
Hotel
sol
plaza
Central
corazón,
espectacular
hotel
centro
dispuesto
impresionante
Aeropuerto
recomendable.
preciosa
encantó,
dudas
aeropuerto
Recomendable
maravilla.
Puerto
pasos
ubicación
excelente.
españa
pega
favorito.
genial.

Vía
encanta,
grande.
amplio,
elección
corto,
joya.
personal,
cómoda
visitar
junior
opción.
contentos
perfectamente
Museo
fenomenal.
retiro
España.
pie
¡Excelente
variedad
profesional
esquina
encantó!
ofrece
noches.
genial,
agradecer
lugares,
Amable
corta.
placer
tiendas,
Cuartos
volveremos
Metro
ENCANTÓ
altamente
Paseo
museo
estupenda
estación
recomendaciones,
sugerencias
descanso,
cerca,
geniales.
amplio
maravilla
impresionante.


Muy
limpia
Perfecto
cerca.
estancia
INCREÍBLE
perfectamente.
Olivia
SUPER
abundante
central
real,
compras
Retiro
verano.
calles
ventaja
favorito!!
calle,
desayuno
Muy,
tranquilidad
Vía
encantado
recientemente
agradable
encanta!
pasear
PERFECTO:
Culpa
fantástico
Grande
interés
NECESITAS
catedral
disfrutamos
comodidad
quieras,
amable
detalles.
Desayuno
bonita?
vista,
muy,
rico,
grande,
Rico
Fácil
fácil,
Joya.
principales
excelente!
Hermosa
excelente,
gimnasio
instalaciones
amplia
Sol
distancia
estupenda.
maravillosa,
NECESARIO
NECESARIO,
Hermoso,
real).
elegante
joya!!!
sol...
CORAZÓN
atracciones
casa
Buen
GENIAL!
necesitábamos!
personal...
calle"
Fantástica.
Dispuestos
Corto
genial..
limpio,
recomendable,

Excelente
tiendas
cuartos!!!
amable,
necesitábamos
visite
GRAN
descanso
https://t.co/aHV4hATzUb
Festival,San
Maravillosa,
completo!
#LaCasaDeLasFlores
agradables
Corazón.

Domingo
Ventaja
lujo!
grandes"

#AHuevo
increíble.

El
estupendo
cable?
Muy
museo),
divertido,
precioso!
T3

¡Muy
compras,
increíble,
taxis
sentidos
MARAVILLOSA
ayudó.
Próximo
Altamente
...duda...a
Limpia
cómodo,
Genial,
excelentes!
#Diseño
súper-fumado
tranquila
fácil.
impresionado
próxima!
pega!
Bienvenida
maravilloso,
deportivo!
deportivo
Localización
(2-0)
Buen
hermoso!
#VamosMexico
Europa
Tokio
🇲🇽GRANDE
Rumania.

Próximo
Olímpicos.

Próximo
vía"
Favorito,
ESPECTACULAR,
tráfico
HERMOSO!
Hermoso
IMPRESIONANTE

Cerca
¡ESPECTACULAR!😍
ESPECTACULAR
¡Maravilloso!
(San
Salón
museos
gratuita
distancia?
Cómo
SÚPER
casa-cama
real😒
#descanso
genial!
perfecta!!
increible!!
Recomendaciones?
¡perfecto!
cerca”...//
encanta&lt;333
Sol...5
perfectamente,
encanta.
Duda.
San…
paseo
VERANO...
Cataluña
Rambla
Completo
Delicioso


Vía
Espectacular!
impresionante,
barrio,
encantó.
atracciones”
Barrio
barrio.
Madrid
opción,
detalle.
Necesitas
tranquila.
vista.
moderna
clase,
#detalles
perfecta.
real.Una
Noches
joya.
Es
maravillosas!
Increible
¡Excelente!
tranquilo
Increíble,
funcional
Verano
VOLVEREMOS
metros
🧳
¡Gran
AMPLIA
#diseño
IDEAL!🤩🇨🇵
Pesé
personal"
completo.
México
Estación
Hotel😌
Y:
joya

Dense
Preciosa,
genial!!!
espectaculares
buena
CORAZÓN
dudas.

@HBOMaxLA
joya.

Una
impresionante
#Frozen2
joya!!
mapa
distancia”
eficiente
modernas
razonable...

Muy
Descanso
¿Buen
#brunch
Compras
parque,
vistas
espectacular,
descanso.
seguidora
Excelente
sol"
PERFECTO
crucero
calle
personal-
genial🙆
comercial,
ESTILO
gran/agridulce
instalaciones,
completo?
relajado.
encantados
preciosa,
#Europa
bonita"
¡Hermosa
guay
Corazón
opción!
encantadora!
impresionantes,
👌🏻muy
Recomendable...
pie,
moderno

muy

Recomendaciones
desayuno,
favorito).
verano,
Sol).
SUPER,
Tranquilo
situado
Jazz!!
rico.
atencion)
encanto!
noches....
calle”.
🤙🏽🤙🏽

Excelente
@irwin_daayan;Buen
transporte
fabulosa,
geniales
Estupendo!

#13ReasonsWhy
repetir
visitar?
atencion,
relación.
magníficas
corto!
lujoso
perfecto💙.
fenomenal
Marina
tranquilo...puse
perfecto!!😊
Personal
ACCESO
tranquila,
duda).
verano😍
placer.
magnífica
opción...
JOYA
conveniente
antemano,genial
duda,gracias
consejos
DIVERTIDO,
Increíbles
increíble.
Desayuno
9:50
completo.
"¡excelente
Fácil,
Increíbles.

Bonita
delicia:
"maravilla"
quitado...¡JUSTO
Bonita,
paradas:
noches...
perfecto”
encantado!
dudas?
sol.
-Estoy
pasamos
comercial.
san
duda:
necesario.
estilo.
Laura.
excepcional
distancia.

https://t.co/UCiTqZIet9
¡SUPER
maravilla!
aeropuerto,
encanta!!
superó
#Jazz
IDEAL:
Centro,
variedad.
distancia.
Pokemon

Muy
recientemente....
ubicacion
increíbles;
😍justo

Perfecta
JOYA!
Room*
Jennifer
"moderna"
Room*
Es
magnífico
MARAVILLOSAS

Encantado
metro
completo.
Also
Netflix.
Recomendaciones?
#bienvenida
cómodas.👌🏻
BIENVENIDA
hermosa!!
perfecto...
GRANDE!
grandes!
precioso
fabulosa
ayudar?
restaurantes
Genial¡¡
Tour’
museo,
tour
Recomendaciones:
HERMOSO
fantástico,primero
Vista
Europa.


Magnífica
#turismo
fabulosa.

#yucatán
deportivo-
Encantado
nación.

FANTÁSTICO.
Encantado:
divertido

https://t.co/ikYkMOa0tp
recomendaciones.
delicioso
11.
increible
Corazón"
'Hip-Hop
casa
-todas
(muy
!!!

Gran
excelente.
Salgo
enfrente
recomendable;
caminando
Excelente,
encanta.

Amo
Increíble!.
Perfecto,
bonita=
delicia,
#España
detalle,
...súper


Buen
turístico
toque?
descanso.

explorar
bonita,
clase.
“Buen
Genial
ESTACIÓN

         word  count mood
294       muy    360    +
4742  próximo    111    +
429      gran    104    +
368      buen    101    +
98      súper     64    +

In [30]:
topPositive = positive.iloc[:5]
topPositive

         word  count mood
294       muy    360    +
4742  próximo    111    +
429      gran    104    +
368      buen    101    +
98      súper     64    +

In [27]:
neutral = df[df.mood == 'n'].sort_values(by= 'count',ascending=False)
neutral.head()

   word  count mood
11   de   9640    n
21   en   5903    n
77  que   5349    n
8    la   4949    n
3     y   4574    n

In [28]:
topNeutral = neutral.iloc[[7,12,26,41,44]]
topNeutral.head()

                word  count mood
1        @NetflixLAT   2012    n
22            Disney   1678    n
18927  @disneyplusla    754    n
4429   @PrimeVideoMX    381    n
34222      @HBOMaxLA    349    n

         word  count mood
118        no   2417    -
70         se   1493    -
225     serie    648    -
255  película    517    -
84         No    500    -

In [18]:
topNegative = negative.iloc[[2,3,5,7,14]]
topNegative.head()

          word  count mood
225      serie    648    -
255   película    517    -
603  películas    430    -
10   temporada    382    -
81      cuenta    242    -

In [34]:
df_combined = pd.concat([topPositive, topNeutral,topNegative])
df_combined.to_sql('word',engine,if_exists='replace',index_label= 'id')