In [10]:
pip install tweepy

Requirement already satisfied: tweepy in c:\users\ssses\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: six>=1.10.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.11)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install psycopg2

^C
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Dependencies and Setup
import tweepy as tw
from datetime import datetime,timedelta
import csv
import pandas as pd
from api_keys import consumer_key
from api_keys import consumer_secret
from api_keys import access_token
from api_keys import access_secret

In [4]:
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
url_base = 'postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres'
print(url_base)
engine = create_engine(url_base)

postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres

In [6]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tw.API(auth)

In [7]:
number_of_tweets = 100
date_since = '2021-06-16' #yyyy-mm-dd
end_date = '2021-06-17' #yyyy-mm-dd
language = 'es'

In [8]:
key_words = ['Netflix','Disney Plus']

**Getting tweets**

In [9]:
# Define function to get the tweets

def get_tweets(search_words):
    
    tweets = tw.Cursor(api.search,
              q=search_words,
              lang=language,
              since=date_since,
              until=end_date,
              tweet_mode='extended'
              ).items(number_of_tweets)
    
    tweet_list = []
    for tweet in tweets:
      tweet_list.append([search_words[0],tweet.id, tweet.full_text, tweet.user.id, tweet.user.screen_name,tweet.created_at,
                         tweet.favorite_count, tweet.retweet_count,tweet.user.verified,tweet.user.location,
                         tweet.user.friends_count, tweet.user.followers_count])
# Create dataframe
    df = pd.DataFrame(tweet_list, columns=['key_word','id', 'tweet','user_id','user_name','date',
                                           'like','retweet','verified','location',
                                           'friends','followers'])
    return df

In [ ]:
# Call functions to create dataframes
df1 = get_tweets(['Paramount'])
df2 = get_tweets(['Disney Plus'])
df3 = get_tweets(['Amazon Prime Video'])
df4 = get_tweets(['HBO Max'])
df5 = get_tweets(['Start'])
df6 = get_tweets(['Apple TV'])
df7 = get_tweets(['Netflix'])

In [13]:
frames = []
for key_word in key_words:
    frames.append(get_tweets([key_word]))

In [14]:
# Concatenate dataframe
#frames = [df1, df2, df3, df4, df5, df6, df7]
result = pd.concat(frames)

In [36]:
result.head()

,key_word,id,tweet,user_id,user_name,date,like,retweet,verified,location,friends,followers
0,Paramount,1427416473853648898,Edit: Cambio/intercambio cuenta o perfil de HB...,719268860877115392,dxlcve,2021-08-16 23:46:22,0,0,False,,889,274
1,Paramount,1427416112149454849,me descargue Paramount+ solo para poder ver to...,809227934649217024,ConstanceOcampo,2021-08-16 23:44:55,0,0,False,"Río Gallegos,Santa Cruz",117,91
2,Paramount,1427415689036500998,¡Los servicios de streaming mas populares del ...,751447936735842304,T19Joa,2021-08-16 23:43:15,19,2,False,"Corto Maltese, Argentina",4325,1139
3,Paramount,1427415304599216137,"@jhorsue Tengo Disney+, HBO Max, Apple TV+, Yo...",719268860877115392,dxlcve,2021-08-16 23:41:43,0,0,False,,889,274
4,Paramount,1427415159958614022,"@CableFibertel Hola, me suscribi a Paramount e...",301418013,Cinalas,2021-08-16 23:41:08,0,0,False,Argentina,394,40

In [15]:
tweet = result[['id','tweet','user_id','date','key_word','like','retweet']]
tweet = tweet.drop_duplicates(subset=['id'])
tweet = tweet.set_index('id')
tweet.head()

,tweet,user_id,date,key_word,like,retweet
id,,,,,,
1427419895185256453,"RT @BPINKLATINO: Hace un año,#JISOO fue anunci...",1394643704175079424,2021-08-16 23:59:57,Netflix,0,189
1427419819096281090,"Che nadie me dice, vení a mirar Netflix y dorm...",1338336999099543555,2021-08-16 23:59:39,Netflix,0,0
1427419788884783109,RT @I_LUVKOOK: En un reality show en Netflix l...,1393848601110093826,2021-08-16 23:59:32,Netflix,0,107
1427419783167889412,RT @jossephvargas: No es parte de la escena de...,487562563,2021-08-16 23:59:31,Netflix,0,1
1427419774439546884,RT @lisiditore: Qué emoción ver a nuestros act...,41943590,2021-08-16 23:59:29,Netflix,0,1

In [16]:
user = result[['user_id','user_name','verified','location', 'friends', 'followers']]
user = user.drop_duplicates(subset=['user_id'])
user = user.set_index('user_id')
user.head()

,user_name,verified,location,friends,followers
user_id,,,,,
1394643704175079424,Chubiiii2,False,,121,93
1338336999099543555,AlexAma60993970,False,,62,51
1393848601110093826,Sophia63897059,False,"Quito, Ecuador 🌠",1064,209
487562563,yiyoayo,False,,1722,288
41943590,anjo_zelada,False,Aregua - Paraguay,1014,424

In [17]:
# Dataframe
user.to_sql('user',engine,if_exists='append',index_label= 'user_id')

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_user"
DETAIL:  Key (user_id)=(1394643704175079424) already exists.

[SQL: INSERT INTO "user" (user_id, user_name, verified, location, friends, followers) VALUES (%(user_id)s, %(user_name)s, %(verified)s, %(location)s, %(friends)s, %(followers)s)]
[parameters: ({'user_id': 1394643704175079424, 'user_name': 'Chubiiii2', 'verified': False, 'location': '', 'friends': 121, 'followers': 93}, {'user_id': 1338336999099543555, 'user_name': 'AlexAma60993970', 'verified': False, 'location': '', 'friends': 62, 'followers': 51}, {'user_id': 1393848601110093826, 'user_name': 'Sophia63897059', 'verified': False, 'location': 'Quito, Ecuador 🌠', 'friends': 1064, 'followers': 209}, {'user_id': 487562563, 'user_name': 'yiyoayo', 'verified': False, 'location': '', 'friends': 1722, 'followers': 288}, {'user_id': 41943590, 'user_name': 'anjo_zelada', 'verified': False, 'location': 'Aregua - Paraguay', 'friends': 1014, 'followers': 424}, {'user_id': 1314437315863994369, 'user_name': 'PalomaSalas3020', 'verified': False, 'location': '', 'friends': 48, 'followers': 35}, {'user_id': 1522698313, 'user_name': 'LeticiaDavila_', 'verified': False, 'location': 'Nicaragua', 'friends': 773, 'followers': 1384}, {'user_id': 814437193, 'user_name': 'DannaDali', 'verified': False, 'location': 'México', 'friends': 683, 'followers': 135}  ... displaying 10 of 145 total bound parameter sets ...  {'user_id': 4000697943, 'user_name': 'TheBlackwolfN99', 'verified': False, 'location': '', 'friends': 154, 'followers': 60}, {'user_id': 479716250, 'user_name': 'Carmearri', 'verified': False, 'location': 'Uruguay ♡', 'friends': 689, 'followers': 394})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [46]:
# Dataframe
tweet.to_sql('tweet',engine,if_exists='append',index_label= 'id')

**Previous steps**

In [43]:
# Export to cvs sep without commas
#result.to_csv('tweets.csv', sep='|', index=False )

In [42]:
# Export to csv muestra
#result['tweet'].to_csv('Muestra.csv')

In [12]:
#result = result.set_index('id')

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.coordinates, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location]) # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet', 'Id', 'retweet_count', 'like_count',
                                           #'coordinates', 'followers_count','followees', 'location'])

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.user.screen_name,tweet.user.verified, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location] # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['date', 'tweet', 'id', 'user_name', 'verified', 'retweet_count', 'like_count',
                                           #'followers_count','followees', 'location'])
    #return df

In [ ]:
#search_words = ['Netflix OR Paramount OR Disney Plus OR HBO Max OR Start OR Apple TV OR Amazon Prime Video']
#search_words = ['Netflix']#date_since = "2021-08-16"

#tweets = tw.Cursor(api.search,#              q=search_words,#              lang="es",#              since=date_since,#              wait_on_rate_limit=True#              ).items(100)

In [ ]:
#tweet_list = []
#with open('output2.csv', 'w') as f:
#  writer = csv.writer(f, delimiter='|')
#  for tweet in tweets:
#    writer.writerow([tweet.created_at, tweet.text])
#    tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#df.head

In [ ]:
#search_words = ['Paramount']
#date_since = "2021-08-16"

In [ ]:
#tweets = tw.Cursor(api.search,
#              q=search_words,
#              lang="es",
#              since=date_since
#              ).items(1000)

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df2 = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#frames = [df, df2]
#result = pd.concat(frames)

In [ ]:
#result

                   Date                                              Tweet
0   2021-08-21 04:33:06  ☀️ Zenimation de Disney+ convierte escenas clá...
1   2021-08-21 04:25:01  Soy yo o la plataforma de disney plus está bie...
2   2021-08-21 04:17:14  Amix, préstenme su cuenta de Disney plus y la ...
3   2021-08-21 04:16:30  Una no puede ver una película online porque te...
4   2021-08-21 04:13:56  @jungkookanojo omgg yo ahora veo star vs las f...
..                  ...                                                ...
995 2021-08-18 12:34:28  Que las marcas que hayan elegido para represen...
996 2021-08-18 12:34:25  @JorgeRieraLopez No parece. Vendrá todo aquí, ...
997 2021-08-18 12:33:51  RT @enekoruizj: En 2022, tenemos nueva platafo...
998 2021-08-18 12:33:37  El servicio de streaming SkyShowtime llegará a...
999 2021-08-18 12:33:36  RT @MissMacGuffin: El plot twist del verano en...

[2000 rows x 2 columns]