In [1]:
pip install tweepy

Requirement already satisfied: tweepy in c:\users\ssses\anaconda3\lib\site-packages (4.0.0a0)
Requirement already satisfied: requests-oauthlib<2,>=1.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests<3,>=2.11.1 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from requests-oauthlib<2,>=1.0.0->tweepy) (3.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy) (2020.6.20)

In [2]:
pip install --upgrade git+https://github.com/tweepy/tweepy@master

Collecting git+https://github.com/tweepy/tweepy@master
  Cloning https://github.com/tweepy/tweepy (to revision master) to c:\users\ssses\appdata\local\temp\pip-req-build-w_clv8hx
Requirement already satisfied, skipping upgrade: requests<3,>=2.11.1 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy==4.0.0a0) (2.24.0)
Requirement already satisfied, skipping upgrade: requests_oauthlib<2,>=1.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy==4.0.0a0) (1.3.0)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (1.25.11)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (2020.6.20)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (2.10)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from requests_oauthlib<2,>=1.0.0->tweepy==4.0.0a0) (3.1.1)
Building wheels for collected packages: tweepy
  Building wheel for tweepy (setup.py): startedNote: you may need to restart the kernel to use updated packages.
  Building wheel for tweepy (setup.py): finished with status 'done'
  Created wheel for tweepy: filename=tweepy-4.0.0a0-py2.py3-none-any.whl size=59177 sha256=152c4f0b58221c6571d0d4ddbc140415006caab04a32e0b91e083fd73ec199f9

  Stored in directory: C:\Users\ssses\AppData\Local\Temp\pip-ephem-wheel-cache-6xpgvpqv\wheels\c7\6a\e1\37bca985a001c53f862a6c6bc2167067fb652571c1f67cff21
Successfully built tweepy
Installing collected packages: tweepy
  Attempting uninstall: tweepy
    Found existing installation: tweepy 4.0.0a0
    Uninstalling tweepy-4.0.0a0:
      Successfully uninstalled tweepy-4.0.0a0
Successfully installed tweepy-4.0.0a0

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\ssses\anaconda3\lib\site-packages (2.9.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install python-dateutil

Requirement already satisfied: python-dateutil in c:\users\ssses\anaconda3\lib\site-packages (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\ssses\anaconda3\lib\site-packages (from python-dateutil) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Dependencies and Setup
import tweepy as tw
from datetime import datetime,timedelta
from dateutil.relativedelta import relativedelta
import csv
import pandas as pd
import numpy as np
from api_keys import consumer_key,consumer_secret,access_token,access_secret,env_name

In [3]:
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [25]:
# AWS SQL
url_base = 'postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres'
print(url_base)
engine = create_engine(url_base)

postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres

**Getting tweets**

In [47]:
# Authenticate Bearer token
#auth = tw.AppAuthHandler(consumer_key, consumer_secret)

#Authenticate with OAuth
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tw.API(auth, wait_on_rate_limit=True)

*Set parametres key dates*
1	20160622
2	20170622
3	20180622
4	20190415
5	20190622
6	20200415
7	20200904
8	20201004
9	20201115
10	20201118
11	20210415
12	20210322
13	20210629
14	20210730
15	20210823
16	20210601
17	20210701
18	20210723
19	20110622
20	20120622
21	20130622
22	20140622
23	20150622

In [54]:
# Search Parametres (defined dates 5 days ranges)
date_since_01 = '201606170000'
date_until_01 = '201606222359'
date_since_02 = '201706170000'
date_until_02 = '201706222359'
date_since_03 = '201806170000'
date_until_03 = '201806222359'
date_since_04 = '201904100000'
date_until_04 = '201904152359'
date_since_05 = '201906170000'
date_until_05 = '201906222359'
date_since_06 = '202004100000'
date_until_06 = '202004152359'
date_since_07 = '202008310000'
date_until_07 = '202009042359'
date_since_08 = '202009300000'
date_until_08 = '202010042359'
date_since_09 = '202011100000'
date_until_09 = '202011152359'
date_since_10 = '202011130000'
date_until_10 = '202011182359'
date_since_11 = '202104100000'
date_until_11 = '202104152359'
date_since_12 = '202103170000'
date_until_12 = '202103222359'
date_since_13 = '202106240000'
date_until_13 = '202106292359'
date_since_14 = '202107250000'
date_until_14 = '202107302359'
date_since_15 = '202108180000'
date_until_15 = '202108232359'


date_since_16 = '202105280000'
date_until_16 = '202106012359'
date_since_17 = '202106270000'
date_until_17 = '202107012359'
date_since_18 = '202107180000'
date_until_18 = '202107232359'

date_since_19 = '201106170000'
date_until_19 = '201106222359'
date_since_20 = '201206170000'
date_until_20 = '201206222359'
date_since_21 = '201306170000'
date_until_21 = '201306222359'
date_since_22 = '201406170000'
date_until_22 = '201406222359'
date_since_23 = '201506170000'
date_until_23 = '201506222359'

**Getting tweets Function search_full_archive**

In [114]:
# Define function to get the tweets

def get_tweets(from_date, to_date):
    
    tweets = tw.Cursor(api.search_full_archive,
              label=env_name,                       
              #PRUEBAS query='(Netflix OR "Amazon Prime Video" OR "Prime Video") lang:es place_country:MX',
              query='(Netflix OR "Amazon Prime Video" OR "Prime Video" OR blim OR Disney+ OR "Disney Plus" OR Paramount+ OR "Paramount Plus" OR HBOMaxLA OR "HBO Max" OR StarPlus OR "Star Plus" OR @PrimeVideoMX OR @NetflixLAT OR @blim OR @ParamountPlusLA OR @disneyplusla OR @HBOMaxLA OR @StarPlusLA OR Paramount) lang:es place_country:MX -is:retweet',
              #query='("Juegos Olimpicos" OR Olimpiadas OR Tokyo OR Tokio) lang:es place_country:MX -is:retweet',
              fromDate=from_date,
              toDate=to_date,
              maxResults = 500                      
              ).items()
    
    tweet_list = []
    tweet_text = ''
    for tweet in tweets:
        if tweet.truncated:
            tweet_text = tweet.extended_tweet['full_text']
        else:
            tweet_text = tweet.text
      
        tweet_list.append(['',tweet.id, tweet_text, tweet.user.id, tweet.user.screen_name,tweet.created_at,
                         tweet.favorite_count, tweet.retweet_count,tweet.user.verified,tweet.user.location,
                         tweet.user.friends_count, tweet.user.followers_count])
# Create dataframe
    df = pd.DataFrame(tweet_list, columns=['key_word','id', 'tweet','user_id','user_name','date',
                                           'like','retweet','verified','location',
                                           'friends','followers'])
    return df

**Call functions to create 23 dataframes df_01-df_23 according  with selected dates**
**We called the function one by one, in order to save requests to the TWITTER API and save cost.**
-Every request has 500 tweets if there are more tweets more requests are used.
-The search exclude retweets in order to take advantage of requests limits.
-Aditionally we created a cvs for every search to protect our information

In [56]:
df_01 = get_tweets(date_since_01, date_until_01)

In [57]:
df_01.head(100)

,key_word,id,tweet,user_id,user_name,date,like,retweet,verified,location,friends,followers
0,,745767823159365632,@alosianv @NetflixLAT jejejeje y sera mala,4208183172,OctavioAguayo1,2016-06-22 23:57:59+00:00,0,0,False,CDMX,1151,397
1,,745767581210972160,Se viene la nueva temporada de #orangeisthenew...,607991137,alosianv,2016-06-22 23:57:01+00:00,35,4,True,None,111,35654
2,,745766576025022464,Papás de menor arrastrado por caimán en Disney...,63848991,netnoticiasmx,2016-06-22 23:53:02+00:00,0,0,False,Cd. Juarez / Chih,2561,7790
3,,745763999350816768,@Augustososa @huerta_cesar @Wero_Lui @Chivas m...,117858195,gcmmemo,2016-06-22 23:42:47+00:00,0,0,False,"Distrito Federal, México",2245,776
4,,745763219541680128,@ZaybetHipston Además hablan bien rápido jajaj...,38045797,soy_sputnik,2016-06-22 23:39:41+00:00,0,0,False,Monterrey / Ciudad de México,944,33881
...,...,...,...,...,...,...,...,...,...,...,...,...
95,,745455438078980096,Netflix sirve para dos cosas:\n-Echar la hueva...,2377412424,miguelbeas_9,2016-06-22 03:16:40+00:00,16,0,False,None,78,16905
96,,745452346725961729,Huele a que hoy me voy a desvelar con mi novio...,165213814,SariluEsquivel,2016-06-22 03:04:23+00:00,9,7,False,"Monclova, Coahuila de Zaragoza",158,4955
97,,745450523575214080,Tengo a mi hermana viendo high school musical ...,176287510,pau_hmartinez,2016-06-22 02:57:09+00:00,3,0,False,None,400,173
98,,745450465630916609,Netflix no me deja acabar la tarea,553737850,renatagzra,2016-06-22 02:56:55+00:00,0,0,False,"New York, USA",284,127
99,,745449112485519361,"Me urge llegar a mi casa , acostarme y ver net...",829964834,Kepg07,2016-06-22 02:51:32+00:00,1,0,False,Monterrey,178,419

In [58]:
df_01['tweet'].size

772

In [59]:
# Export to csv
df_01.to_csv('df_01.csv')

In [60]:
df_02 = get_tweets(date_since_02, date_until_02)

In [61]:
df_02['tweet'].size

566

In [62]:
# Export to csv
df_02.to_csv('df_02.csv')

In [63]:
df_03 = get_tweets(date_since_03, date_until_03)

In [64]:
df_03['tweet'].size

542

In [65]:
# Export to csv
df_03.to_csv('df_03.csv')

In [66]:
df_04 = get_tweets(date_since_04, date_until_04)

In [67]:
df_04['tweet'].size

744

In [68]:
# Export to csv
df_04.to_csv('df_04.csv')

In [69]:
df_05 = get_tweets(date_since_05, date_until_05)

In [70]:
df_05['tweet'].size

697

In [71]:
# Export to csv
df_05.to_csv('df_05.csv')

In [72]:
df_06 = get_tweets(date_since_06, date_until_06)

In [73]:
df_06['tweet'].size

901

In [110]:
# Export to csv
df_06.to_csv('df_06.csv')

In [75]:
df_07 = get_tweets(date_since_07, date_until_07)

In [76]:
df_07['tweet'].size

588

In [77]:
# Export to csv
df_07.to_csv('df_07.csv')

In [78]:
df_08 = get_tweets(date_since_08, date_until_08)

In [79]:
df_08['tweet'].size

478

In [80]:
# Export to csv
df_08.to_csv('df_08.csv')

In [81]:
df_09 = get_tweets(date_since_09, date_until_09)

In [82]:
df_09['tweet'].size

603

In [83]:
# Export to csv
df_09.to_csv('df_09.csv')

In [84]:
df_10 = get_tweets(date_since_10, date_until_10)

In [85]:
df_10['tweet'].size

2178

In [86]:
# Export to csv
df_10.to_csv('df_10.csv')

In [87]:
df_11 = get_tweets(date_since_11, date_until_11)

In [88]:
df_11['tweet'].size

469

In [89]:
# Export to csv
df_11.to_csv('df_11.csv')

In [90]:
df_12 = get_tweets(date_since_12, date_until_12)

In [91]:
df_12['tweet'].size

579

In [92]:
# Export to csv
df_12.to_csv('df_12.csv')

In [93]:
df_13 = get_tweets(date_since_13, date_until_13)

In [94]:
df_13['tweet'].size

675

In [95]:
# Export to csv
df_13.to_csv('df_13.csv')

In [96]:
df_14 = get_tweets(date_since_14, date_until_14)

In [97]:
df_14['tweet'].size

543

In [98]:
# Export to csv
df_14.to_csv('df_14.csv')

In [99]:
df_15 = get_tweets(date_since_15, date_until_15)

In [100]:
df_15['tweet'].size

596

In [101]:
# Export to csv
df_15.to_csv('df_15.csv')

In [103]:
#query2
df_16 = get_tweets(date_since_16, date_until_16)

In [104]:
df_16['tweet'].size

54

In [105]:
# Export to csv
df_16.to_csv('df_16.csv')

In [106]:
#query2
df_17 = get_tweets(date_since_17, date_until_17)

In [107]:
df_17['tweet'].size

89

In [109]:
# Export to csv
df_17.to_csv('df_17.csv')

In [111]:
#query2
df_18 = get_tweets(date_since_18, date_until_18)

In [112]:
df_18['tweet'].size

962

In [113]:
# Export to csv
df_18.to_csv('df_18.csv')

In [115]:
df_19 = get_tweets(date_since_19, date_until_19)

In [116]:
df_19['tweet'].size

109

In [117]:
df_19.to_csv('df_19.csv')

In [118]:
df_20 = get_tweets(date_since_20, date_until_20)

In [119]:
df_20['tweet'].size

219

In [120]:
df_20.to_csv('df_20.csv')

In [121]:
df_21 = get_tweets(date_since_21, date_until_21)

In [122]:
df_21['tweet'].size

273

In [123]:
df_21.to_csv('df_21.csv')

In [124]:
df_22 = get_tweets(date_since_22, date_until_22)

In [125]:
df_22['tweet'].size

305

In [126]:
df_22.to_csv('df_22.csv')

In [127]:
df_23 = get_tweets(date_since_23, date_until_23)

In [128]:
df_23['tweet'].size

524

In [129]:
df_23.to_csv('df_23.csv')

In [130]:
# Concatenate dataframe
frames = [df_01, df_02, df_03, df_04, df_05, df_06, df_07, df_08, df_09, df_10, df_11, df_12, df_13,
          df_14, df_15, df_16, df_17, df_18, df_19, df_20, df_21, df_22, df_23]
result = pd.concat(frames)

In [132]:
#CSV crucial information
result.to_csv('tweets.csv', index=False )

In [134]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13466 entries, 0 to 523
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   key_word   13466 non-null  object
 1   id         13466 non-null  int64
 2   tweet      13466 non-null  object
 3   user_id    13466 non-null  int64
 4   user_name  13466 non-null  object
 5   date       13466 non-null  datetime64[ns, UTC]
 6   like       13466 non-null  int64
 7   retweet    13466 non-null  int64
 8   verified   13466 non-null  bool
 9   location   10950 non-null  object
 10  friends    13466 non-null  int64
 11  followers  13466 non-null  int64
dtypes: bool(1), datetime64[ns, UTC](1), int64(6), object(4)
memory usage: 1.2+ MB

In [9]:
# File to Load
file_to_load = 'tweets.csv'
# Read Purchasing File and store into Pandas data frame
result = pd.read_csv(file_to_load)
result.head()

,key_word,id,tweet,user_id,user_name,date,like,retweet,verified,location,friends,followers
0,NaN,745767823159365632,@alosianv @NetflixLAT jejejeje y sera mala,4208183172,OctavioAguayo1,2016-06-22 23:57:59+00:00,0,0,False,CDMX,1151,397
1,NaN,745767581210972160,Se viene la nueva temporada de #orangeisthenew...,607991137,alosianv,2016-06-22 23:57:01+00:00,35,4,True,NaN,111,35654
2,NaN,745766576025022464,Papás de menor arrastrado por caimán en Disney...,63848991,netnoticiasmx,2016-06-22 23:53:02+00:00,0,0,False,Cd. Juarez / Chih,2561,7790
3,NaN,745763999350816768,@Augustososa @huerta_cesar @Wero_Lui @Chivas m...,117858195,gcmmemo,2016-06-22 23:42:47+00:00,0,0,False,"Distrito Federal, México",2245,776
4,NaN,745763219541680128,@ZaybetHipston Además hablan bien rápido jajaj...,38045797,soy_sputnik,2016-06-22 23:39:41+00:00,0,0,False,Monterrey / Ciudad de México,944,33881

In [15]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13466 entries, 0 to 13465
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   key_word   0 non-null      float64
 1   id         13466 non-null  int64
 2   tweet      13466 non-null  object
 3   user_id    13466 non-null  int64
 4   user_name  13466 non-null  object
 5   date       13466 non-null  object
 6   like       13466 non-null  int64
 7   retweet    13466 non-null  int64
 8   verified   13466 non-null  bool
 9   location   10950 non-null  object
 10  friends    13466 non-null  int64
 11  followers  13466 non-null  int64
dtypes: bool(1), float64(1), int64(6), object(4)
memory usage: 1.1+ MB

In [16]:
#Exploring missing values
missing_values = result.isnull().sum()
missing_values

key_word     13466
id               0
tweet            0
user_id          0
user_name        0
date             0
like             0
retweet          0
verified         0
location      2516
friends          0
followers        0
dtype: int64

In [19]:
#Na -> 0
result = result.fillna(0)
result.head()

,key_word,id,tweet,user_id,user_name,date,like,retweet,verified,location,friends,followers
0,0.0,745767823159365632,@alosianv @NetflixLAT jejejeje y sera mala,4208183172,OctavioAguayo1,2016-06-22 23:57:59+00:00,0,0,False,CDMX,1151,397
1,0.0,745767581210972160,Se viene la nueva temporada de #orangeisthenew...,607991137,alosianv,2016-06-22 23:57:01+00:00,35,4,True,0,111,35654
2,0.0,745766576025022464,Papás de menor arrastrado por caimán en Disney...,63848991,netnoticiasmx,2016-06-22 23:53:02+00:00,0,0,False,Cd. Juarez / Chih,2561,7790
3,0.0,745763999350816768,@Augustososa @huerta_cesar @Wero_Lui @Chivas m...,117858195,gcmmemo,2016-06-22 23:42:47+00:00,0,0,False,"Distrito Federal, México",2245,776
4,0.0,745763219541680128,@ZaybetHipston Además hablan bien rápido jajaj...,38045797,soy_sputnik,2016-06-22 23:39:41+00:00,0,0,False,Monterrey / Ciudad de México,944,33881

** Final tables and Export to SQL**

In [26]:
#SQL TWEET TABLE
tweet = result[['id','tweet','user_id','date','key_word','like','retweet']]
tweet = tweet.drop_duplicates(subset=['id'])
tweet = tweet.set_index('id')
tweet.head()

,tweet,user_id,date,key_word,like,retweet
id,,,,,,
745767823159365632,@alosianv @NetflixLAT jejejeje y sera mala,4208183172,2016-06-22 23:57:59+00:00,0.0,0,0
745767581210972160,Se viene la nueva temporada de #orangeisthenew...,607991137,2016-06-22 23:57:01+00:00,0.0,35,4
745766576025022464,Papás de menor arrastrado por caimán en Disney...,63848991,2016-06-22 23:53:02+00:00,0.0,0,0
745763999350816768,@Augustososa @huerta_cesar @Wero_Lui @Chivas m...,117858195,2016-06-22 23:42:47+00:00,0.0,0,0
745763219541680128,@ZaybetHipston Además hablan bien rápido jajaj...,38045797,2016-06-22 23:39:41+00:00,0.0,0,0

In [22]:
#CSV crucial information
tweet.to_csv('tweet2.csv', index=False )

In [21]:
#SQL USER TABLE
user = result[['user_id','user_name','verified','location', 'friends', 'followers']]
user = user.drop_duplicates(subset=['user_id'])
user = user.set_index('user_id')
user.head()

,user_name,verified,location,friends,followers
user_id,,,,,
4208183172,OctavioAguayo1,False,CDMX,1151,397
607991137,alosianv,True,0,111,35654
63848991,netnoticiasmx,False,Cd. Juarez / Chih,2561,7790
117858195,gcmmemo,False,"Distrito Federal, México",2245,776
38045797,soy_sputnik,False,Monterrey / Ciudad de México,944,33881

In [23]:
#CSV crucial information
user.to_csv('user2.csv', index=False )

In [27]:
# Dataframe
user.to_sql('user',engine,if_exists='append',index_label= 'user_id')

In [28]:
# Dataframe
tweet.to_sql('tweet',engine,if_exists='append',index_label= 'id')

**Getting tweets final test section** 
We did test with the 7 days, 30 days and full archive subscription

In [29]:
#Prueba
date_since_sjul21 = '202107280900'
date_until_sjul21 = '202107281900'

In [31]:
# Call functions to create dataframes
df_julprueba = get_tweets(date_since_sjul21, date_until_sjul21)

In [19]:
df_julprueba.size

624

In [37]:
#Prueba full archive
df_02 = get_tweets(date_since_02, date_until_02)

In [38]:
df_02.head(100)

,key_word,id,tweet,user_id,user_name,date,like,retweet,verified,location,friends,followers
0,,878030354858299392,Ya nosé que película ver en Netflix😭,388520004,MiltonAlmaguer,2017-06-22 23:22:04+00:00,0,0,False,None,737,912
1,,878028308872482816,Para toda la banda que estaba esperando. #elch...,379811901,Pedro_Giu,2017-06-22 23:13:56+00:00,0,0,False,DF,291,334
2,,878024866460344322,Lo siento cuerpo pero este clima amerita café ...,2806151118,josemadrid268,2017-06-22 23:00:15+00:00,0,0,False,None,558,48
3,,878015718213558272,Les dejo el trailer oficial de #LastChanceU 2a...,85629110,duvalin5,2017-06-22 22:23:54+00:00,2,0,False,"Xalapa Enríquez, Ver., México",1024,1361
4,,878012554735370240,Lol xd les faltó engordar al Chapo en Netflix....,143256643,sebas_hero1995,2017-06-22 22:11:20+00:00,0,0,False,Mexico,1731,523
...,...,...,...,...,...,...,...,...,...,...,...,...
65,,877701388020596736,Netflix debería subir todas las películas de D...,800720676,Jessyfairytale,2017-06-22 01:34:52+00:00,0,0,False,None,292,211
66,,877698997799985152,Que tanto tiempo pasas decidiendo que ver en N...,42224207,danielaferrari,2017-06-22 01:25:22+00:00,0,0,False,MEXICO,988,6664
67,,877688971765190658,@delia8a Búscala en Netflix. Vela y luego me d...,35613550,oyefuentes,2017-06-22 00:45:32+00:00,0,0,False,"Guadalajara, Jalisco",2235,4025
68,,877688060674162688,#Netflix presenta interacción en películas inf...,42911935,pfcelism,2017-06-22 00:41:54+00:00,0,0,False,"Oaxaca, México",1994,1535
69,,877685800942485506,@DavidSilva0830 Voy a hacer un maratón en netf...,571333272,Alexis_MF7,2017-06-22 00:32:56+00:00,0,0,False,None,352,564

In [39]:
# Export to csv muestra
df_02['tweet'].to_csv('tweetsprueba.csv')

In [40]:
df_02['tweet'].size

70

In [41]:
df_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   key_word   70 non-null     object
 1   id         70 non-null     int64
 2   tweet      70 non-null     object
 3   user_id    70 non-null     int64
 4   user_name  70 non-null     object
 5   date       70 non-null     datetime64[ns, UTC]
 6   like       70 non-null     int64
 7   retweet    70 non-null     int64
 8   verified   70 non-null     bool
 9   location   54 non-null     object
 10  friends    70 non-null     int64
 11  followers  70 non-null     int64
dtypes: bool(1), datetime64[ns, UTC](1), int64(6), object(4)
memory usage: 6.2+ KB

**Previous steps**

In [ ]:
# Export to cvs sep without commas
#result.to_csv('tweets.csv', sep='|', index=False )

In [ ]:
# Export to csv muestra
#result['tweet'].to_csv('Muestra.csv')

In [ ]:
#result = result.set_index('id')

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.coordinates, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location]) # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet', 'Id', 'retweet_count', 'like_count',
                                           #'coordinates', 'followers_count','followees', 'location'])

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.user.screen_name,tweet.user.verified, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location] # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['date', 'tweet', 'id', 'user_name', 'verified', 'retweet_count', 'like_count',
                                           #'followers_count','followees', 'location'])
    #return df

In [ ]:
#search_words = ['Netflix OR Paramount OR Disney Plus OR HBO Max OR Start OR Apple TV OR Amazon Prime Video']
#search_words = ['Netflix']#date_since = "2021-08-16"

#tweets = tw.Cursor(api.search,#              q=search_words,#              lang="es",#              since=date_since,#              wait_on_rate_limit=True#              ).items(100)

In [ ]:
#tweet_list = []
#with open('output2.csv', 'w') as f:
#  writer = csv.writer(f, delimiter='|')
#  for tweet in tweets:
#    writer.writerow([tweet.created_at, tweet.text])
#    tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#df.head

In [ ]:
#search_words = ['Paramount']
#date_since = "2021-08-16"

In [ ]:
#tweets = tw.Cursor(api.search,
#              q=search_words,
#              lang="es",
#              since=date_since
#              ).items(1000)

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df2 = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#frames = [df, df2]
#result = pd.concat(frames)

In [ ]:
#result

                   Date                                              Tweet
0   2021-08-21 04:33:06  ☀️ Zenimation de Disney+ convierte escenas clá...
1   2021-08-21 04:25:01  Soy yo o la plataforma de disney plus está bie...
2   2021-08-21 04:17:14  Amix, préstenme su cuenta de Disney plus y la ...
3   2021-08-21 04:16:30  Una no puede ver una película online porque te...
4   2021-08-21 04:13:56  @jungkookanojo omgg yo ahora veo star vs las f...
..                  ...                                                ...
995 2021-08-18 12:34:28  Que las marcas que hayan elegido para represen...
996 2021-08-18 12:34:25  @JorgeRieraLopez No parece. Vendrá todo aquí, ...
997 2021-08-18 12:33:51  RT @enekoruizj: En 2022, tenemos nueva platafo...
998 2021-08-18 12:33:37  El servicio de streaming SkyShowtime llegará a...
999 2021-08-18 12:33:36  RT @MissMacGuffin: El plot twist del verano en...

[2000 rows x 2 columns]