In [16]:
pip install tweepy

Requirement already satisfied: tweepy in c:\users\ssses\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install --upgrade git+https://github.com/tweepy/tweepy@master

Collecting git+https://github.com/tweepy/tweepy@master
  Cloning https://github.com/tweepy/tweepy (to revision master) to c:\users\ssses\appdata\local\temp\pip-req-build-vqzqrad7
Requirement already satisfied, skipping upgrade: requests<3,>=2.11.1 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy==4.0.0a0) (2.24.0)
Requirement already satisfied, skipping upgrade: requests_oauthlib<2,>=1.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy==4.0.0a0) (1.3.0)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (1.25.11)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (2020.6.20)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\ssses\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (2.10)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from requests_oauthlib<2,>=1.0.0->tweepy==4.0.0a0) (3.1.1)
Building wheels for collected packages: tweepy
  Building wheel for tweepy (setup.py): started
  Building wheel for tweepy (setup.py): finished with status 'done'
  Created wheel for tweepy: filename=tweepy-4.0.0a0-py2.py3-none-any.whl size=59138 sha256=7a930de53146319bd2a89931d5cec5d523c7a3730d2baa78cfb1e62bf47fc994
  Stored in directory: C:\Users\ssses\AppData\Local\Temp\pip-ephem-wheel-cache-ysa__111\wheels\c7\6a\e1\37bca985a001c53f862a6c6bc2167067fb652571c1f67cff21
Successfully built tweepy
Installing collected packages: tweepy
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
Successfully installed tweepy-4.0.0a0
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\ssses\anaconda3\lib\site-packages (2.9.1)
Note: you may need to restart the kernel to use updated packages.

In [18]:
pip install python-dateutil

Requirement already satisfied: python-dateutil in c:\users\ssses\anaconda3\lib\site-packages (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\ssses\anaconda3\lib\site-packages (from python-dateutil) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Dependencies and Setup
import tweepy as tw
from datetime import datetime,timedelta
from dateutil.relativedelta import relativedelta
import csv
import pandas as pd
from api_keys import consumer_key,consumer_secret,access_token,access_secret

In [2]:
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [21]:
url_base = 'postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres'
print(url_base)
engine = create_engine(url_base)

postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres

In [22]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tw.API(auth, wait_on_rate_limit=True)

In [38]:
number_of_tweets = 10
date_since = '2020-08-01' #yyyy-mm-dd
end_date = '2020-08-30' #yyyy-mm-dd
language = 'es'

**Getting tweets**

In [39]:
# Define function to get the tweets

def get_tweets(search_words, start_date,finish_date):
    
    tweets = tw.Cursor(api.search,
                       
              q=search_words,
              lang=language,
              since=start_date,
              #until=finish_date,
              tweet_mode='extended'
              ).items(number_of_tweets)
    
    tweet_list = []
    for tweet in tweets:
      tweet_list.append([search_words[0],tweet.id, tweet.full_text, tweet.user.id, tweet.user.screen_name,tweet.created_at,
                         tweet.favorite_count, tweet.retweet_count,tweet.user.verified,tweet.user.location,
                         tweet.user.friends_count, tweet.user.followers_count])
# Create dataframe
    df = pd.DataFrame(tweet_list, columns=['key_word','id', 'tweet','user_id','user_name','date',
                                           'like','retweet','verified','location',
                                           'friends','followers'])
    return df

In [40]:
# Call functions to create dataframes
date_since = datetime.strptime(date_since, '%Y-%m-%d')
end_date = datetime.strptime(end_date, '%Y-%m-%d')
result= pd.DataFrame()
for i in range(12):
    print(date_since)
    print(end_date)
    date_since = date_since + relativedelta(months=1)
    end_date = end_date + relativedelta(months=1)
    df1 = get_tweets(['Paramount'],date_since,end_date)
    df2 = get_tweets(['Disney Plus'],date_since,end_date)
    df3 = get_tweets(['Amazon Prime Video'],date_since,end_date)
    df4 = get_tweets(['HBO Max'],date_since,end_date)
    df5 = get_tweets(['Start'],date_since,end_date)
    df6 = get_tweets(['Apple TV'],date_since,end_date)
    df7 = get_tweets(['Netflix'],date_since,end_date)
    frames = [df1, df2, df3, df4, df5, df6, df7]
    result_temp = pd.concat(frames) 
    print(result_temp.size)
    frames2 = [result,result_temp]
    result = pd.concat(frames2)
    print(result.size)

2020-08-01 00:00:00
2020-08-30 00:00:00
0
0
2020-09-01 00:00:00
2020-09-30 00:00:00
0
0
2020-10-01 00:00:00
2020-10-30 00:00:00
0
0
2020-11-01 00:00:00
2020-11-30 00:00:00
0
0
2020-12-01 00:00:00
2020-12-30 00:00:00
0
0
2021-01-01 00:00:00
2021-01-30 00:00:00
0
0
2021-02-01 00:00:00
2021-02-28 00:00:00
0
0
2021-03-01 00:00:00
2021-03-28 00:00:00
0
0
2021-04-01 00:00:00
2021-04-28 00:00:00
0
0
2021-05-01 00:00:00
2021-05-28 00:00:00
0
0
2021-06-01 00:00:00
2021-06-28 00:00:00
0
0
2021-07-01 00:00:00
2021-07-28 00:00:00
720
720

In [35]:
# Concatenate dataframe
frames = [df1, df2, df3, df4, df5, df6, df7]
result = pd.concat(frames)

In [32]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 894 entries, 0 to 723
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   key_word   894 non-null    object
 1   id         894 non-null    object
 2   tweet      894 non-null    object
 3   user_id    894 non-null    object
 4   user_name  894 non-null    object
 5   date       894 non-null    datetime64[ns]
 6   like       894 non-null    object
 7   retweet    894 non-null    object
 8   verified   894 non-null    object
 9   location   894 non-null    object
 10  friends    894 non-null    object
 11  followers  894 non-null    object
dtypes: datetime64[ns](1), object(11)
memory usage: 90.8+ KB

In [45]:
tweet = result[['id','tweet','user_id','date','key_word','like','retweet']]
tweet = tweet.drop_duplicates(subset=['id'])
tweet = tweet.set_index('id')
tweet.head()

,tweet,user_id,date,key_word,like,retweet
id,,,,,,
1427416473853648898,Edit: Cambio/intercambio cuenta o perfil de HB...,719268860877115392,2021-08-16 23:46:22,Paramount,0,0
1427416112149454849,me descargue Paramount+ solo para poder ver to...,809227934649217024,2021-08-16 23:44:55,Paramount,0,0
1427415689036500998,¡Los servicios de streaming mas populares del ...,751447936735842304,2021-08-16 23:43:15,Paramount,19,2
1427415304599216137,"@jhorsue Tengo Disney+, HBO Max, Apple TV+, Yo...",719268860877115392,2021-08-16 23:41:43,Paramount,0,0
1427415159958614022,"@CableFibertel Hola, me suscribi a Paramount e...",301418013,2021-08-16 23:41:08,Paramount,0,0

In [40]:
user = result[['user_id','user_name','verified','location', 'friends', 'followers']]
user = user.drop_duplicates(subset=['user_id'])
user = user.set_index('user_id')
user.head()

,user_name,verified,location,friends,followers
user_id,,,,,
719268860877115392,dxlcve,False,,889,274
809227934649217024,ConstanceOcampo,False,"Río Gallegos,Santa Cruz",117,91
751447936735842304,T19Joa,False,"Corto Maltese, Argentina",4325,1139
301418013,Cinalas,False,Argentina,394,40
365660218,LaVarianteOmega,False,"Palmira, Colombia",4888,4093

In [43]:
# Dataframe
user.to_sql('user',engine,if_exists='append',index_label= 'user_id')

In [46]:
# Dataframe
tweet.to_sql('tweet',engine,if_exists='append',index_label= 'id')

**Previous steps**

In [43]:
# Export to cvs sep without commas
#result.to_csv('tweets.csv', sep='|', index=False )

In [42]:
# Export to csv muestra
#result['tweet'].to_csv('Muestra.csv')

In [12]:
#result = result.set_index('id')

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.coordinates, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location]) # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet', 'Id', 'retweet_count', 'like_count',
                                           #'coordinates', 'followers_count','followees', 'location'])

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.user.screen_name,tweet.user.verified, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location] # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['date', 'tweet', 'id', 'user_name', 'verified', 'retweet_count', 'like_count',
                                           #'followers_count','followees', 'location'])
    #return df

In [ ]:
#search_words = ['Netflix OR Paramount OR Disney Plus OR HBO Max OR Start OR Apple TV OR Amazon Prime Video']
#search_words = ['Netflix']#date_since = "2021-08-16"

#tweets = tw.Cursor(api.search,#              q=search_words,#              lang="es",#              since=date_since,#              wait_on_rate_limit=True#              ).items(100)

In [ ]:
#tweet_list = []
#with open('output2.csv', 'w') as f:
#  writer = csv.writer(f, delimiter='|')
#  for tweet in tweets:
#    writer.writerow([tweet.created_at, tweet.text])
#    tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#df.head

In [ ]:
#search_words = ['Paramount']
#date_since = "2021-08-16"

In [ ]:
#tweets = tw.Cursor(api.search,
#              q=search_words,
#              lang="es",
#              since=date_since
#              ).items(1000)

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df2 = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#frames = [df, df2]
#result = pd.concat(frames)

In [ ]:
#result

                   Date                                              Tweet
0   2021-08-21 04:33:06  ☀️ Zenimation de Disney+ convierte escenas clá...
1   2021-08-21 04:25:01  Soy yo o la plataforma de disney plus está bie...
2   2021-08-21 04:17:14  Amix, préstenme su cuenta de Disney plus y la ...
3   2021-08-21 04:16:30  Una no puede ver una película online porque te...
4   2021-08-21 04:13:56  @jungkookanojo omgg yo ahora veo star vs las f...
..                  ...                                                ...
995 2021-08-18 12:34:28  Que las marcas que hayan elegido para represen...
996 2021-08-18 12:34:25  @JorgeRieraLopez No parece. Vendrá todo aquí, ...
997 2021-08-18 12:33:51  RT @enekoruizj: En 2022, tenemos nueva platafo...
998 2021-08-18 12:33:37  El servicio de streaming SkyShowtime llegará a...
999 2021-08-18 12:33:36  RT @MissMacGuffin: El plot twist del verano en...

[2000 rows x 2 columns]