In [2]:
pip install tweepy

Requirement already satisfied: tweepy in c:\users\ssses\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: six>=1.10.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\ssses\anaconda3\lib\site-packages (2.9.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Dependencies and Setup
import tweepy as tw
from datetime import datetime,timedelta
import csv
import pandas as pd
from api_keys import consumer_key
from api_keys import consumer_secret
from api_keys import access_token
from api_keys import access_secret

In [5]:
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [34]:
url_base = 'postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres'
print(url_base)
engine = create_engine(url_base)

postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres

In [28]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tw.API(auth)

In [8]:
number_of_tweets = 100
date_since = '2021-08-16' #yyyy-mm-dd
end_date = '2021-08-17' #yyyy-mm-dd
language = 'es'

**Getting tweets**

In [9]:
# Define function to get the tweets

def get_tweets(search_words):
    
    tweets = tw.Cursor(api.search,
              q=search_words,
              lang=language,
              since=date_since,
              until=end_date,
              tweet_mode='extended'
              ).items(number_of_tweets)
    
    tweet_list = []
    for tweet in tweets:
      tweet_list.append([search_words[0],tweet.id, tweet.full_text, tweet.user.id, tweet.user.screen_name,tweet.created_at,
                         tweet.favorite_count, tweet.retweet_count,tweet.user.verified,tweet.user.location,
                         tweet.user.friends_count, tweet.user.followers_count])
# Create dataframe
    df = pd.DataFrame(tweet_list, columns=['key_word','id', 'tweet','user_id','user_name','date',
                                           'like','retweet','verified','location',
                                           'friends','followers'])
    return df

In [10]:
# Call functions to create dataframes
df1 = get_tweets(['Paramount'])
df2 = get_tweets(['Disney Plus'])
df3 = get_tweets(['Amazon Prime Video'])
df4 = get_tweets(['HBO Max'])
df5 = get_tweets(['Start'])
df6 = get_tweets(['Apple TV'])
df7 = get_tweets(['Netflix'])

In [15]:
# Concatenate dataframe
frames = [df1, df2, df3, df4, df5, df6, df7]
result = pd.concat(frames)

In [16]:
result.head()

,key_word,id,tweet,user_id,user_name,date,like,retweet,verified,location,friends,followers
0,Paramount,1427416473853648898,Edit: Cambio/intercambio cuenta o perfil de HB...,719268860877115392,dxlcve,2021-08-16 23:46:22,0,0,False,,889,274
1,Paramount,1427416112149454849,me descargue Paramount+ solo para poder ver to...,809227934649217024,ConstanceOcampo,2021-08-16 23:44:55,0,0,False,"Río Gallegos,Santa Cruz",117,91
2,Paramount,1427415689036500998,¡Los servicios de streaming mas populares del ...,751447936735842304,T19Joa,2021-08-16 23:43:15,19,2,False,"Corto Maltese, Argentina",4325,1139
3,Paramount,1427415304599216137,"@jhorsue Tengo Disney+, HBO Max, Apple TV+, Yo...",719268860877115392,dxlcve,2021-08-16 23:41:43,0,0,False,,889,274
4,Paramount,1427415159958614022,"@CableFibertel Hola, me suscribi a Paramount e...",301418013,Cinalas,2021-08-16 23:41:08,0,0,False,Argentina,394,40

In [33]:
tweet = result[['id','tweet','user_id','date','key_word','like','retweet']]
tweet = tweet.set_index('id')
tweet.head()

,tweet,user_id,date,key_word,like,retweet
id,,,,,,
1427416473853648898,Edit: Cambio/intercambio cuenta o perfil de HB...,719268860877115392,2021-08-16 23:46:22,Paramount,0,0
1427416112149454849,me descargue Paramount+ solo para poder ver to...,809227934649217024,2021-08-16 23:44:55,Paramount,0,0
1427415689036500998,¡Los servicios de streaming mas populares del ...,751447936735842304,2021-08-16 23:43:15,Paramount,19,2
1427415304599216137,"@jhorsue Tengo Disney+, HBO Max, Apple TV+, Yo...",719268860877115392,2021-08-16 23:41:43,Paramount,0,0
1427415159958614022,"@CableFibertel Hola, me suscribi a Paramount e...",301418013,2021-08-16 23:41:08,Paramount,0,0

In [24]:
user = result[['user_id','user_name','verified','location', 'friends', 'followers']]
user = user.set_index('user_id')
user.head()

,user_name,verified,location,friends,followers
user_id,,,,,
719268860877115392,dxlcve,False,,889,274
809227934649217024,ConstanceOcampo,False,"Río Gallegos,Santa Cruz",117,91
751447936735842304,T19Joa,False,"Corto Maltese, Argentina",4325,1139
719268860877115392,dxlcve,False,,889,274
301418013,Cinalas,False,Argentina,394,40

In [35]:
# Dataframe
tweet.to_sql('tweet',engine,if_exists='append',index_label= 'id')

DataError: (psycopg2.errors.NumericValueOutOfRange) integer out of range

[SQL: INSERT INTO tweet (id, tweet, user_id, date, key_word, "like", retweet) VALUES (%(id)s, %(tweet)s, %(user_id)s, %(date)s, %(key_word)s, %(like)s, %(retweet)s)]
[parameters: ({'id': 1427416473853648898, 'tweet': 'Edit: Cambio/intercambio cuenta o perfil de HBO Max, Disney+, Apple TV+ o YouTube Premium por Blim o Paramount+. Todo por código, no es necesario pasar datos de la cuenta. 🤠', 'user_id': 719268860877115392, 'date': datetime.datetime(2021, 8, 16, 23, 46, 22), 'key_word': 'Paramount', 'like': 0, 'retweet': 0}, {'id': 1427416112149454849, 'tweet': 'me descargue Paramount+ solo para poder ver todas las temporadas de acapulco shore y me parece perfecto', 'user_id': 809227934649217024, 'date': datetime.datetime(2021, 8, 16, 23, 44, 55), 'key_word': 'Paramount', 'like': 0, 'retweet': 0}, {'id': 1427415689036500998, 'tweet': '¡Los servicios de streaming mas populares del momento!\n\nParamount 😔 https://t.co/0Q1oBSR79d', 'user_id': 751447936735842304, 'date': datetime.datetime(2021, 8, 16, 23, 43, 15), 'key_word': 'Paramount', 'like': 19, 'retweet': 2}, {'id': 1427415304599216137, 'tweet': '@jhorsue Tengo Disney+, HBO Max, Apple TV+, YouTube Premium y ClaroVideo, estoy buscando Blim y Paramount+ por el momento. Ya conseguí Netflix y Prime. 👀', 'user_id': 719268860877115392, 'date': datetime.datetime(2021, 8, 16, 23, 41, 43), 'key_word': 'Paramount', 'like': 0, 'retweet': 0}, {'id': 1427415159958614022, 'tweet': '@CableFibertel Hola, me suscribi a Paramount en canal 274 y no accede al contenido. Solo veo la publicidad de Flow.', 'user_id': 301418013, 'date': datetime.datetime(2021, 8, 16, 23, 41, 8), 'key_word': 'Paramount', 'like': 0, 'retweet': 0}, {'id': 1427413457570258947, 'tweet': 'RT @ParamountPlusLA: Representación gráfica: Yo poniéndome offline a las 6:00pm en punto.\nVe ""The Truman Show"" en Paramount+ https://t.co…', 'user_id': 365660218, 'date': datetime.datetime(2021, 8, 16, 23, 34, 23), 'key_word': 'Paramount', 'like': 0, 'retweet': 5}, {'id': 1427407192529977345, 'tweet': '@ParamountMexico  No saldra Paw Patrol la pelicula en la app de Paramount +?', 'user_id': 831513782, 'date': datetime.datetime(2021, 8, 16, 23, 9, 29), 'key_word': 'Paramount', 'like': 0, 'retweet': 0}, {'id': 1427405797861036034, 'tweet': 'También les recomiendo mucho la serie "El cuento de la criada" que pueden ver por Paramount... Precisamente es un mundo en donde desgraciadamente las mujeres pierden sus derechos tras el asesinato del presidente y los hombres/la iglesia toman el control... Recomiendo... https://t.co/ulfUrtHrsl', 'user_id': 935373376230756352, 'date': datetime.datetime(2021, 8, 16, 23, 3, 56), 'key_word': 'Paramount', 'like': 0, 'retweet': 0}  ... displaying 10 of 700 total bound parameter sets ...  {'id': 1427418002983694337, 'tweet': 'Netflix HBO y Disney y no encuentro nada que me guste para ver.\n\nPorque Indecisa en todo y para todo😞🥺', 'user_id': 77881391, 'date': datetime.datetime(2021, 8, 16, 23, 52, 26), 'key_word': 'Netflix', 'like': 10, 'retweet': 1}, {'id': 1427418002157416453, 'tweet': 'RT @Iaura_bozzo: Si quieren ver una muy pero muy mala película de verdad, pongan #Beckett en Netflix.', 'user_id': 800092952210964480, 'date': datetime.datetime(2021, 8, 16, 23, 52, 26), 'key_word': 'Netflix', 'like': 0, 'retweet': 1})]
(Background on this error at: http://sqlalche.me/e/13/9h9h)

In [ ]:
user.to_sql('user',engine,if_exists='append',index_label= 'user_id')

**Previous steps**

In [43]:
# Export to cvs sep without commas
#result.to_csv('tweets.csv', sep='|', index=False )

In [42]:
# Export to csv muestra
#result['tweet'].to_csv('Muestra.csv')

In [12]:
#result = result.set_index('id')

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.coordinates, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location]) # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet', 'Id', 'retweet_count', 'like_count',
                                           #'coordinates', 'followers_count','followees', 'location'])

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.user.screen_name,tweet.user.verified, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location] # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['date', 'tweet', 'id', 'user_name', 'verified', 'retweet_count', 'like_count',
                                           #'followers_count','followees', 'location'])
    #return df

In [ ]:
#search_words = ['Netflix OR Paramount OR Disney Plus OR HBO Max OR Start OR Apple TV OR Amazon Prime Video']
#search_words = ['Netflix']#date_since = "2021-08-16"

#tweets = tw.Cursor(api.search,#              q=search_words,#              lang="es",#              since=date_since,#              wait_on_rate_limit=True#              ).items(100)

In [ ]:
#tweet_list = []
#with open('output2.csv', 'w') as f:
#  writer = csv.writer(f, delimiter='|')
#  for tweet in tweets:
#    writer.writerow([tweet.created_at, tweet.text])
#    tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#df.head

In [ ]:
#search_words = ['Paramount']
#date_since = "2021-08-16"

In [ ]:
#tweets = tw.Cursor(api.search,
#              q=search_words,
#              lang="es",
#              since=date_since
#              ).items(1000)

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df2 = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#frames = [df, df2]
#result = pd.concat(frames)

In [ ]:
#result

                   Date                                              Tweet
0   2021-08-21 04:33:06  ☀️ Zenimation de Disney+ convierte escenas clá...
1   2021-08-21 04:25:01  Soy yo o la plataforma de disney plus está bie...
2   2021-08-21 04:17:14  Amix, préstenme su cuenta de Disney plus y la ...
3   2021-08-21 04:16:30  Una no puede ver una película online porque te...
4   2021-08-21 04:13:56  @jungkookanojo omgg yo ahora veo star vs las f...
..                  ...                                                ...
995 2021-08-18 12:34:28  Que las marcas que hayan elegido para represen...
996 2021-08-18 12:34:25  @JorgeRieraLopez No parece. Vendrá todo aquí, ...
997 2021-08-18 12:33:51  RT @enekoruizj: En 2022, tenemos nueva platafo...
998 2021-08-18 12:33:37  El servicio de streaming SkyShowtime llegará a...
999 2021-08-18 12:33:36  RT @MissMacGuffin: El plot twist del verano en...

[2000 rows x 2 columns]