In [1]:
pip install tweepy

Requirement already satisfied: tweepy in c:\users\ssses\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\ssses\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\ssses\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\users\ssses\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\ssses\anaconda3\lib\site-packages (2.9.1)
Note: you may need to restart the kernel to use updated packages.

In [29]:
# Dependencies and Setup
import tweepy as tw
from datetime import datetime,timedelta
import csv
import pandas as pd
from api_keys import consumer_key
from api_keys import consumer_secret
from api_keys import access_token
from api_keys import access_secret

In [30]:
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [31]:
url_base = 'postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres'
print(url_base)
engine = create_engine(url_base)

postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres

In [32]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tw.API(auth)

In [33]:
number_of_tweets = 100

**Getting tweets**

In [34]:
# Define function to get the tweets

def get_tweets(search_words, date_since, language, number_of_items):
    
    tweets = tw.Cursor(api.search,
              q=search_words,
              lang=language,
              since=date_since,
              tweet_mode='extended'
              ).items(number_of_items)
    
    tweet_list = []
    for tweet in tweets:
      tweet_list.append([search_words[0],tweet.id, tweet.full_text, tweet.user.id, tweet.user.screen_name,tweet.created_at,
                         tweet.favorite_count, tweet.retweet_count,tweet.user.verified,tweet.user.location,
                         tweet.user.friends_count, tweet.user.followers_count])
# Create dataframe
    df = pd.DataFrame(tweet_list, columns=['key_word','id', 'tweet','user_id','user_name','date',
                                           'like','retweet','verified','location',
                                           'friends','followers'])
    return df

In [35]:
# Call functions to create dataframes
df1 = get_tweets(['Paramount'], '2021-08-16', 'es', number_of_tweets)
df2 = get_tweets(['Disney Plus'], '2021-08-16', 'es', number_of_tweets)
df3 = get_tweets(['Amazon Prime Video'], '2021-08-16', 'es', number_of_tweets)
df4 = get_tweets(['HBO Max'], '2021-08-16', 'es', number_of_tweets)
df5 = get_tweets(['Start'], '2021-08-16', 'es', number_of_tweets)
df6 = get_tweets(['Apple TV'], '2021-08-16', 'es', number_of_tweets)
df7 = get_tweets(['Netflix'], '2021-08-16', 'es', number_of_tweets)

In [36]:
# Concatenate dataframe
frames = [df1, df2, df3, df4, df5, df6, df7]
result = pd.concat(frames)

In [37]:
result = result.set_index('id')

In [38]:
result.head()

,key_word,tweet,user_id,user_name,date,like,retweet,verified,location,friends,followers
id,,,,,,,,,,,
1429158877644349442,Paramount,"#SkyShowtime, un nuevo servicio de streaming c...",38673878,frankstrada,2021-08-21 19:10:03,0,0,False,México,24687,113010
1429156348168704001,Paramount,No hay nada que un buen meme no pueda reparar ...,2806002408,ParamountPlusLA,2021-08-21 19:00:00,6,0,True,América Latina,262,26655
1429153071347736576,Paramount,Me dan ganas de pagar Paramount solo para ver ...,2459917172,GirlinIrish_,2021-08-21 18:46:59,1,0,False,"Monterrey, Nuevo León, México",585,253
1429151848238395393,Paramount,@Bonetti Fuck paramount + can’t watch serie a ...,553612692,Chrismendoza___,2021-08-21 18:42:07,0,0,False,,731,240
1429150457948221449,Paramount,RT @Criticologos: [SORTEO/GIVEAWAY] Paramount ...,24397381,Angel_Virella,2021-08-21 18:36:36,0,3,False,"San Juan, Puerto Rico",155,232

In [41]:
# Dataframe
result.to_sql('prueba',engine,if_exists='replace',index_label= 'id')

In [42]:
# Export to csv muestra
result['tweet'].to_csv('Muestra.csv')

In [43]:
# Export to cvs sep without commas
result.to_csv('tweets.csv', sep='|', index=False )

**Previous steps**

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.coordinates, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location]) # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet', 'Id', 'retweet_count', 'like_count',
                                           #'coordinates', 'followers_count','followees', 'location'])

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.user.screen_name,tweet.user.verified, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location] # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['date', 'tweet', 'id', 'user_name', 'verified', 'retweet_count', 'like_count',
                                           #'followers_count','followees', 'location'])
    #return df

In [ ]:
#search_words = ['Netflix OR Paramount OR Disney Plus OR HBO Max OR Start OR Apple TV OR Amazon Prime Video']
#search_words = ['Netflix']#date_since = "2021-08-16"

#tweets = tw.Cursor(api.search,#              q=search_words,#              lang="es",#              since=date_since,#              wait_on_rate_limit=True#              ).items(100)

In [ ]:
#tweet_list = []
#with open('output2.csv', 'w') as f:
#  writer = csv.writer(f, delimiter='|')
#  for tweet in tweets:
#    writer.writerow([tweet.created_at, tweet.text])
#    tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#df.head

In [ ]:
#search_words = ['Paramount']
#date_since = "2021-08-16"

In [ ]:
#tweets = tw.Cursor(api.search,
#              q=search_words,
#              lang="es",
#              since=date_since
#              ).items(1000)

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df2 = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#frames = [df, df2]
#result = pd.concat(frames)

In [ ]:
#result

                   Date                                              Tweet
0   2021-08-21 04:33:06  ☀️ Zenimation de Disney+ convierte escenas clá...
1   2021-08-21 04:25:01  Soy yo o la plataforma de disney plus está bie...
2   2021-08-21 04:17:14  Amix, préstenme su cuenta de Disney plus y la ...
3   2021-08-21 04:16:30  Una no puede ver una película online porque te...
4   2021-08-21 04:13:56  @jungkookanojo omgg yo ahora veo star vs las f...
..                  ...                                                ...
995 2021-08-18 12:34:28  Que las marcas que hayan elegido para represen...
996 2021-08-18 12:34:25  @JorgeRieraLopez No parece. Vendrá todo aquí, ...
997 2021-08-18 12:33:51  RT @enekoruizj: En 2022, tenemos nueva platafo...
998 2021-08-18 12:33:37  El servicio de streaming SkyShowtime llegará a...
999 2021-08-18 12:33:36  RT @MissMacGuffin: El plot twist del verano en...

[2000 rows x 2 columns]